 html 
{
  font-family: Optima, Verdana, sans-serif !important;
}

 .button, input[type=submit] 
 {	 
	 background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
	 background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	 border: 1px solid black;
	 color: ivory;
	 padding: 7px;
	 border-radius: 5px;
	 text-align: center;
	 text-decoration: none;
	 display: flex;
	 flex-diretion: row;
	 font-size: 14px;
	 font-weight: bold;
	 margin: 4px 2px;
	 cursor: pointer;
	 text-transform: uppercase;
}

.button img, .button2 img, .button4 img
{
	
	width:15px;
	height: auto;	
	margin-left: 2px;
}

 .button2
 {	 	
	 background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	 background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	 border: 1px solid black;
	 color: ivory;
	 padding: 7px;
	 border-radius: 5px;
	 text-align: center;
	 text-decoration: none;
	 display: flex;
	 flex-diretion: row;
	 font-size: 14px;
	 font-weight: bold;
	 margin: 4px 2px;
	 cursor: pointer;
	 text-transform: uppercase;
}

.button3 
{
	background: -webkit-linear-gradient(to left, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: none;
	color: ivory;
	padding: 10px;
	border: 1px solid ivory;
	border-radius: 5px;	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight:bold;
	margin: 4px 4px;
	cursor: pointer;
	text-transform: uppercase;
}

.button4
 {	 	
	background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: 1px solid black;
	color: ivory;
	padding: 7px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: flex;
	flex-diretion: row;
	font-size: 14px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	text-transform: uppercase;
}

.loginbutton, .loginform input[type=submit] 
{	
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	border: none;
	color: ivory;
	padding: 7px;
	border: 1px solid ivory;
	border-radius: 5px;	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight:bolder;
	margin: 4px 4px;
	cursor: pointer;
	text-transform: uppercase;	
}

.btn-grad 
{
	background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%)
}

.btn-grad 
{
   margin: 10px;
   padding: 15px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   border: 1px solid ivory;
   display: block;
   font-weight: bold;
   text-decoration: none;
}

.btn-grad:hover 
{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}     

 .button:hover, .button2:hover, .button3:hover, .button4:hover, input[type=submit]:hover, .loginbutton:hover
 {		
	color: darkgrey;	
 }
 
 .button:active, .button2:active, .button3:active, .button4:active, input[type=submit]:active, .loginbutton:active
{  	
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}
 
.id_column
{
 	text-align: center;
 	width: 30px; 	
} 

.name_column
{
	text-align: left;
}

.candidatelist td
{
	color:black;
	font-size: 17px;
	padding: 0px 3px 0px 3px;
	font-weight: bold;
}

body
{
	background-color:#F5F5F5;

}

.background
{
	display: flex;
  	justify-content: center;
}

.frame
{
	border-radius: 10px;	
	width:80%;
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	padding: 30px;
	margin-top: 10px;	
}

.header
{
	display: flex;
	flex-direction: row;
}

.column
{
	flex: 1 1 33.3%;
}

 .logo
{  
	margin-bottom:40px;
	display: flex;
	justify-content: center; 
}

.logo img
{
	height: 250px;
	width: auto;
	border-radius: 8%; 
}

.logout
{
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: flex-start;
}

.logout img, .login img
{
	width: 20px;
	heigth: auto;
}

a.loginbutton
{
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;	
}

.login
{
	display: flex;
	flex-direction: row;
	justify-content: right;	
	align-items:flex-start;
}

.passwordlogo img
{
	width: 30px;
	height: 30px;	
	vertical-align:middle;	
}

td.passwordlogo
{
	padding-top: 5px;
}

td.loginlogo
{
	padding-left: 2px;
}

.loginlogo img
{
	border-radius: 50%;
	border: 1px solid ivory;
	width: 25px;
	height: auto;
	vertical-align:middle;
}

.loginlogo input[type=text]
{
	margin: 0px;
	margin-left :3px;
}

.loginlabel
{
	font-size: 12px;
}

p.copyright
{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;	
	border-radius: 5px;
	font-size: 12px;
	
}

.heading
{
	display: flex;
	flex-direction: row;
  	flex-wrap: wrap;
  	width: 100%;
  	justify-content: center;
	text-align: center;	
	margin-bottom: 40px;
}

#heading
{
	color: ivory;
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	border-radius: 10px;
	font-size: 20px !important;	
	text-transform: uppercase;	
}

#heading h2
{
	margin:0px !important;
	padding:20px
}

.candidatelist th
{
	color: black;
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;	
}

.candidatelist table
{
	display: flex;
	justify-content: center;
}

.candidatelist .button3
{
	margin:20px;
}

.navigation
{
	display: flex;
	justify-content: center;
}

.navigation ul 
{
	list-style-type: none;
	overflow: hidden;
	padding-left: 0px;
 }
  
.navigation li 
{
	float: left;
  }
  
.navigation li a 
{
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
} 

#lisayslomake
{
	font-size: 20px;
}

.addcandidate
{
	display:flex;
	justify-content: center;
	margin-bottom: 25px;
	margin-top: 10px;
}

.addcandidate_heading
{
	text-align: center;	
	width: 70%;
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	color: ivory;
	text-transform: uppercase;
	border-radius: 10px;
}

#lisayslomake input[type="text"], #lisayslomake input[type="number"] , #lisayslomake textarea
{
    font-size:18px;
    width: 80%;
    margin-bottom: 10px;
}

#lisayslomake input[type="number"]
{
	width: 60px;
}

.confirmdeletewindow, .confirmdeletebutton
{
	display: flex;
	justify-content: center;
}

.confirmdeletemessage
{
	width: 70%;
	color: ivory;
	text-align: center;
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
}

.addquestion_navigation, .showquestion_navigation, .addcandidate_navigation
{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.addquestion_navigation img, .showquestion_navigation img
{
	width:25px;
	height: auto;
	vertical-align:middle;
	margin-right: 5px;
	margin-bottom: 1px;
}

.addquestion_navigation a.btn-grad:nth-of-type(2), .showquestion_navigation a.btn-grad:nth-of-type(2)
{	
	vertical-align: middle;
	padding: 13px 10px 13px 10px;
}

.questiontext
{
	display: flex;
	justify-content: left;
	font-size: 16px;
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	color: ivory;
	border-radius: 5px;	
	margin-bottom: 5px;
	margin-right: 10px;
	padding: 10px;
}

input#id.addquestionid
{
	width: 50px;
	margin-top: 5px;
}

textarea#question.addquestiontext
{
	width: 350px;
	height: 50px;
	resize: none;
	margin-bottom: 15px;
	margin-top: 5px;
}

textarea.editquestion
{
	width: 400px !important;
	height: 80px !important;
	resize: none !important;
	margin-top: 5px;
}

input#id.editquestionid
{
	width: 50px !important;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
}

textarea.editcandidatetext
{
	width: 500px !important;
	height: 100px !important;
	resize: none !important;
	margin-top: 5px;
}

textarea.addcandidatetext
{
	width: 400px !important;
	height: 50px !important;
	resize: none !important;
	margin-top: 5px;
}

.question
{
	margin-bottom: 20px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	padding: 0px 16px 16px 16px;
	border-radius: 10px;  
}

p.questionheader
{
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	color:ivory;
	padding: 20px;
	text-align:center;
	border-radius: 10px;
}

.answerbuttons
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.answerbuttonheader, .radiobuttons, .scale
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.answerbuttons input[type="radio"]
{
	justify-content: center;
	margin-right: 20px;
	margin-left: 0px;
}

.answerbuttons p
{	
	display:inline-block;
	margin-right: 22px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.scale p
{
	font-size: 11px;
}

.commentarea
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

.comment
{
	width: 250px;
	height: 35px;
}

p.candidateidheading
{
	font-size: 18px;
	width: 80px;
	padding-bottom: 7px ;
	margin-bottom: 5px;
	text-align:center;
	text-transform: uppercase;
		
}

h1.candidateIdheading, h2.addcandidate_heading
{	
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	color:ivory;
	padding: 20px;
	text-align:center;
	border-radius: 10px;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 40px;
	margin-bottom: 40px;
		
}

h3.noanswers
{
	background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:ivory;
	padding: 20px;
	text-align:center;
	border-radius: 10px;
	margin-left: 10%;
	margin-right: 10%;
	text-transform: uppercase;
	
}

select#candidateid
{
	font-size: 20px;
}



