 html 
{
  font-family: Optima, Verdana, sans-serif !important;
}

 .button, input[type=submit] 
 {	 
	 background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
	 background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	 border: 1px solid black;
	 color: ivory;
	 padding: 7px;
	 border-radius: 5px;
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: 16px;
	 font-weight: bold;
	 margin: 4px 2px;
	 cursor: pointer;
	 text-transform: uppercase;
}

 .button2
 {	 	
	 background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	 background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	 border: 1px solid black;
	 color: ivory;
	 padding: 7px;
	 border-radius: 5px;
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: 16px;
	 font-weight: bold;
	 margin: 4px 2px;
	 cursor: pointer;
	 text-transform: uppercase;
}

.button3 
{
	background: -webkit-linear-gradient(to left, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: none;
	color: ivory;
	padding: 10px;
	border: 1px solid ivory;
	border-radius: 5px;	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight:bold;
	margin: 4px 4px;
	cursor: pointer;
	text-transform: uppercase;
}

.loginbutton, .loginform input[type=submit] 
{
	/* background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%); */
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	border: none;
	color: ivory;
	padding: 7px;
	border: 1px solid ivory;
	border-radius: 5px;	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight:bolder;
	margin: 4px 4px;
	cursor: pointer;
	text-transform: uppercase;	
}

.btn-grad 
{
	background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%)
}

.btn-grad 
{
   margin: 10px;
   padding: 15px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   border: 1px solid ivory;
   display: block;
   font-weight: bold;
   text-decoration: none;
}

.btn-grad:hover 
{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}     

 .button:hover, .button2:hover, .button3:hover, input[type=submit]:hover, .loginbutton:hover
 {		
	color: darkgrey;	
 }
 
 .button:active, .button2:active, .button3:active, input[type=submit]:active, .loginbutton:active
{  	
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}
 
.id_column
{
 	text-align: center;
 	width: 60px; 	
} 

.name_column
{
	text-align: left;
}

.candidatelist td
{
	color:black;
	font-size: 18px;
	padding: 5px;
	font-weight: bold;
}

body
{
	background-color:#F5F5F5;

}

.background
{
	display: flex;
  	justify-content: center;
}

.frame
{
	border-radius: 10px;	
	width:80%;
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	padding: 30px;
	margin-top: 10px;	
}

.header
{
	display: flex;
	flex-direction: row;
}

.column
{
	flex: 1 1 33.3%;
}

 .logo
{  
  margin-bottom:20px;
  display: flex;
  justify-content: center; 
}

.logo img
{
	height: 250px;
	width: auto;
	border-radius: 10% !important; 
}

.logout
{
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: flex-start;
}

.logout img, .login img
{
	width: 20px;
	heigth: auto;
}

a.loginbutton
{
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;	
}

.adminlogo
{
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	text-transform: uppercase;
}

.adminlogo img
{
	height: 60px;
	width: auto;
	padding-left: 40px;
}

.adminlogo p
{
	margin: 5px 0px 0px 0px;
	padding: 7px;
	font-weight: bold;	
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	color: ivory;
	border-radius: 10px;
}

.login
{
	display: flex;
	flex-direction: row;
	justify-content: right;	
	align-items:flex-start;
}

.passwordlogo img
{
	width: 30px;
	height: 30px;	
	vertical-align:middle;	
}

td.passwordlogo
{
	padding-top: 5px;
}

td.loginlogo
{
	padding-left: 2px;
}

.loginlogo img
{
	border-radius: 50%;
	border: 1px solid ivory;
	width: 25px;
	height: auto;
	vertical-align:middle;
}

.loginlogo input[type=text]
{
	margin: 0px;
	margin-left :3px;
}

.loginlabel
{
	font-size: 12px;
}

.heading
{
	display: flex;
	flex-direction: row;
  	flex-wrap: wrap;
  	width: 100%;
  	justify-content: center;
	text-align: center;	
	margin-bottom: 40px;
}

#heading
{
	color: ivory;
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	border-radius: 10px;
	font-size: 20px !important;	
	text-transform: uppercase;	
}

#heading h2
{
	margin:0px !important;
	padding:20px
}

.candidatelist th
{
	color: black;
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;	
}

.candidatelist table
{
	display: flex;
	justify-content: center;
}

.candidatelist .button3
{
	margin:20px;
}

.navigation
{
	display: flex;
	justify-content: center;
}

.navigation ul 
{
	list-style-type: none;
	overflow: hidden;
 }
  
.navigation li 
{
	float: left;
  }
  
.navigation li a 
{
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
} 

#lisayslomake
{
	font-size: 20px;
}

h2.addcandidate_heading
{
	margin-top: 0px;
}

#lisayslomake input[type="text"], #lisayslomake input[type="number"] 
{
    font-size:18px;
    width: 80%;
    margin-bottom: 10px;
}



