.question
{
	margin-bottom: 20px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	padding: 0px 16px 16px 16px;
	border-radius: 10px;  
}

p.questionheader
{
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	color:ivory;
	padding: 20px;
	text-align:center;
	border-radius: 10px;
}

.answerbuttons
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.answerbuttonheader, .radiobuttons, .scale
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.answerbuttons input[type="radio"]
{
	justify-content: center;
	margin-right: 20px;
	margin-left: 0px;
}

.answerbuttons p
{	
	display:inline-block;
	margin-right: 22px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.scale p
{
	font-size: 11px;
}

.commentarea
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

.comment
{
	width: 250px;
	height: 35px;
}

p.candidateidheading
{
	font-size: 18px;
	width: 80px;
	padding-bottom: 7px ;
	margin-bottom: 5px;
	text-align:center;
	text-transform: uppercase;
		
}

select#candidateid
{
	font-size: 20px;
}